/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 10px;
    top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 1em 1.5em 0 1.5em;
    font-size: 1.15em;
    overflow: unset;
}

.bm-menu a, a:visited {
    color: #494848;
    text-decoration: none;
}

.bm-menu a:Hover {
    color: #afd7f6;
    transition: color 0.4s ease 0s;
}

.bm-menu .active {
    color: #9fcff4 !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0 0.8em 10px 0.8em;
}

.bm-item-list a {
    padding: 0.6em 0.8em 0.6em 0.8em;
}

.bm-menu a {
    color: #b8b7ad;
    text-align: left;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}