@font-face {
  font-family: "adlery";
  src: url("../fonts/Adlery_TRIAL.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100px;
  background-color: white;
  font-family: "Gill Sans MT";
  font-size:16px;
}

.App { }

/************/
/** Header **/
/************/

.Header {
  text-align: center;
  background: #cee6fe url("../images/header.jpg") no-repeat fixed;
  height: 100px;
  width: 100%;
  color: #222;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.Header-menu {
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  position: relative;
  font-size: 25px;
  font-family: "Gill Sans MT";
  margin-top: 20px;
}

.Header-menu ol, ul {
  list-style: none;
}

.Header-menu li {
  display:inline;
  padding: 20px;
}

.Header-menu a, a:visited {
  color: #494848;
  line-height: 24px;
  text-decoration: none;
}

.Header-menu a:Hover {
  color: #afd7f6;
  transition: color 0.4s ease 0s;
}

.Header-menu .active {
  color: #9fcff4 !important;
}

.App-content {
  min-height: 100px;
}

/***************/
/** Container **/
/***************/

.App-contain {
  margin: 100px 10% 0 5%;
  padding-bottom: 50px;
}

.App-contain h1 {
  font-family: "adlery",arial,sans-serif;
  font-size: 60px;
  color: #90c3ea; /* #cee6fe */
  padding-top: 30px;
  margin: 0 0 30px 20px;
}

.App-contain .line {
  width: 14px;
  height: 100%;
  position:absolute;
  margin-left: 10%;
  background: url("../images/ligne-noire.png");
}

.App-contain hr {
  margin-left: 15%;
}


/*******************/
/** Page : Follow **/
/*******************/

.App-contain .content-bloc {
  margin-left: 15%;
  margin-bottom: 20px;
  display: grid;
}

.content-bloc .title-simple {
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 15px 0;
}

.content-bloc .title-blog {
  font-family: "adlery",arial,sans-serif;
  background-color: #cee6fe;
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 15px;
}

.content-bloc .bloc {
  text-align: justify;
  margin: 5px 0 10px 0;
}

.content-bloc .bloc img {
  width:50%;
  height:50%;
  max-width: 360px;
  max-height: 270px;
  min-width: 260px;
  min-height: 170px;
  float: left;
  margin: 5px 15px 5px 0;
}

.content-bloc .date {
  text-align: right;
  font-style: italic;
  font-weight: lighter;
  color: #808080;
}

/******************/
/** Page : Infos **/
/******************/

.leaflet-map {
  width: 100%;
  height: 400px;
  border: 3px solid #222222;
}

.mui-container-fluid {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.icon {
  font-size: 45px;
  color: #494848;
  margin-bottom: -15px;
}

/**********/
/** Home **/
/**********/

.Home {
  margin-top: 100px;
  height: 1016px;
  width: 1600px;
  background: linear-gradient(to right, transparent 90%, white),
  url("../images/background_1.jpg") no-repeat;
  display:inline-block;
  vertical-align:middle;
}

/************/
/** Footer **/
/************/

@media screen and (max-width: 480px){
  .App-footer {
    display: none !important;
  }
  /*  mettre le header à genre height: 40px et mettre le burger*/
}

.App-footer {
  width: 100%;
  background: #cee6fe url("../images/footer.jpg") no-repeat;
  height: 46px;
  color: #222;
  position: fixed;
  display: grid;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.App-footer-copyright {
  text-align: right;
  position:absolute;
  font-size: 11px;
  right: 0;
  bottom: 0;
  margin-right: 2px;
  margin-bottom: 1px;
}

.App-footer-weeding {
  margin: 3px 0 auto 5%;
  display: inline-flex;
}

.App-footer-weeding span {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 7px;
}

.App-footer-weeding img {
  vertical-align:middle;
}
